

.container-fluid {
	padding: 0;
}
/* Navbar */
.navbar {
	border-radius: 0;
	margin-bottom: 0;
	border: none;
}
.navbar-brand {
	height: 50px;
	padding-bottom: 0;
}
.nav>li>a:hover {
	background-color: transparent;
}
.navbar-right {
	margin-right: 0;
}
.navbar-fixed-top {
	background-color: #435878!important;
}
.navbar-collapse {
	border-top: 0 none;
}
.navbar-form {
	border-top:none;
	border-bottom: none;
	margin-top: 0;
}
.navbar-toggle {
	margin: 20px 20px 20px 0;
}
img.nav-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h6 {
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}
.navbar-item:hover {
	transform: scale(1.2);
}
.navbar-right>li>a {
	padding: 10px 15px 0;
}
div.form-group {
	margin-bottom: 0;
}
.form-group>input[type=text] {
	width: 200%;
}
/* Carousel */
img.bg-image {
	object-fit: cover;
	
}
.opacity-40 {
	opacity: 0.4;
}
.bg-image {
    width: 100%;
    height: 600px;
}
.main-function {
	position: relative;
}
.question-form {
	position: absolute;
	right: 100px;
	bottom: 100px;
	background-color: #ffffff;
	opacity: 0.8;
	padding: 40px;
	width: 50%;
	height: 50%;
}
.question-form>form>button {
	background-color: #435878;
	width: 50px;
}
.input-question>input {
	height: 100px;
}
/* Sign in */
.sign-in {
	cursor: pointer;
}
/* Full-width input fields */
.signin-tab>input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #435878;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

button:hover {
    opacity: 0.8;
}
.signupbtn {
	padding: 10px 18px;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.signin-tab {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 70%; 
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}



/*Question List */
.bc-grey {
	width: inherit;
	height: auto;
	background-color: #eeeff2;
}
li {
	list-style: none;
}
ul {
	padding-left: 0;
}
.hot-question, .new-question {
	padding:0;
}
.panel {
	border-radius: 0;
	margin-bottom: 0;
}
div.panel-body {
	min-height: 250px;
	margin-left: 20px;
}
.panel-primary, .panel-success {
	border-color: transparent;
}
.panel-primary>.panel-heading, .panel-success>.panel-heading {
	background-color: #435878;
	border-color: transparent;
}
.panel-heading {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	color: #435878;
}
.d-block {
	display: block;
	cursor: pointer;
	padding-bottom: 5px;
}
.d-block:hover {
	color: #000;
	text-decoration: none;
	background-color: #eeeff2;
	padding-left: 5px;
}
h3.panel-title {
	text-transform: uppercase;
	color: #ffffff;
}
button.show-more {
	background-color: #435878;
}

#overlay, #hot, #moreAsked {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#rating {
	background-color: #ffffff;
	padding: 20px;
	opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: #000;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#rating>p {
	font-size: 28px;
}
.more-question {
	position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}
.number {
	font-size: 15px;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}

/* Footer */
.bc-dark {
	background-color: #000;
	color: #ffffff;
	font-style: italic;
}
.border-white {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
.h-100 {
	height: 100px;
}
.margin-15 {
	margin: 15px;
	padding: 15px;
}

/* About us */
.bc-blue {
	background-color: #435878;
	width: 100%;
	padding-top: 74px;
	height: auto;
}
.content {
	background-color: #ffffff;
	min-height: 590px;
	margin: 0 32px;
	padding-top: 30px;
}
.introduction {
	padding: 30px;
	background-color: #b9dfe0;
	height: 100%;
	width: 100%;
	margin-top: 15px;
}
h2 {
	font-size: 40px;
	text-transform: uppercase;
}
.align-center {
	text-align: center;
}
.logo-intro {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.content-intro {
	margin-top: 20px;
}


/* Shop page */
.row {
	margin: 10px 0 0 0;
	padding-bottom: 30px;
}
.store-wrap {
	background-color: #ebf1f1;
	padding: 64px;
	margin-top: 74px;
}
.store-top {
	text-align: center;
	color: #435878;
}
.store-title>h4 {
	text-transform: uppercase;
	font-size: 52px;
}
.store-title>p {
	font-size: 29px;
}
.store-top>img {
	position: relative;
}
.store-top>.store-title {
	position: absolute;
	top: 200px;
	left: 38%;
}
.store-center>h5 {
	text-transform: uppercase;
	display: block;
	border-bottom: 2px solid #5ba8ab;
	color: #5ba8ab;
	padding: 4px;
	width: 20%;
	text-align: center;
	margin-bottom: 65px;
	font-size: 26px;
}
.cart-1 {
	background-color: #3e606f;
	margin-right: 10px;
	padding: 22px 20px;
}
.product1 {
	text-align: center;
}
p.use {
	color: #ffffff;
	display: block;
}
.product1-1 {
	padding-top: 24px;
}
.cart-2 {
	border: 2px solid #1b5f61;
	padding-bottom: 21px;
	margin-right: 10px;
	margin-left: 45px;
}
.product2 {
	text-align: center;
}
.product2>h6 {
	color: #206679;
	text-align: center;
}
.cart-3, .cart-6 {
	padding-left: 0;
	padding-right: 0;
	float: right;
}
.cart-4 {
	border: 2px solid #1b5f61;
	padding-bottom: 21px;
	margin-right: 54px;
}

.product3-1 {
	background-color: #85a5cc;
	padding: 10px 15px;
	text-align: center;
}
.product3-2 {
	background-color: #92cdcf;
	padding: 10px 15px;
	margin-top: 19px;
	text-align: center;
}
.cart-6 {
	background-color: #237679;
	padding: 10px 20px 14px;
	text-align: center;
}
.store-bottom>h5 {
	text-align: center;
	font-size: 28px;
}
h5.total-product {
	border-bottom: none;
	width: 100%;
	color: #435878;
	font-weight: bold;
}
img.icon-cart {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #435878;
}
.product-detail {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.mr-15 {
	margin-right: 20px;
}
.retail>h6 {
	color: #374354;
}
.d-flex {
	display: flex;
	justify-content: space-between;
}
div.cart-1:hover, .product3-1:hover,.product3-2:hover, .cart-6:hover{
	background-color: #000;
}
.cart-2:hover, .cart-4:hover {
	background-color: #ffffff;
}
.retail:hover {
	border: 3px solid #000;
}


/* Profile */
.profile-content {
	min-height: 600px;
	margin-top: 74px;
	padding: 26px 50px;
	background-color: #ebf1f1;
}
.avatar>img {
	display: block;
	border: 10px solid #a3d3d5;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 10px 10px #858d99;
}
.point-profile {
	text-align: center;
	border: 2px solid #000;
	margin: 30px auto;
	width: 50%;
}
.extra-info {
	text-align: center;
	border-top: 2px solid #6c707b;
	padding-top: 20px;
}
.extra-info>ul>li>a {
	cursor: pointer;
}
.user>a {
	cursor: pointer;
}
.asked {
	margin-top: 30px;
}
.panel-info>.panel-heading {
	background-color: #435878;
}





/* Search Results */

.results {
	background-color: #ebf1f1;
	height: auto;
	padding-top: 74px;
}
.related-words {
	width: 100%;
	margin-bottom: 50px;

}
.relate {
	text-transform: uppercase;
	font-size: 28px;
	float: left;
	display: block;
	border-left: 3px solid #435878;
	border-bottom: 3px solid #435878;
	padding-left: 10px;
	padding-right: 30px;
	margin-left: 50px;
	margin-top: 100px;
}
.search-icon {
	margin-right: 50px;
}
.search-icon>img {
	position: relative;
	float: right;
}
.search-icon>h3 {
	text-transform: uppercase;
	font-size: 40px;
	position: absolute;
	top: 80px;
	right: 70px;
}
.checked {
	color: #86b9bb;
}

#answers {
	display: none;
	margin-left: 20px;
}
#answers>li {
	border-left: 3px solid #86b9bb;
	padding-left: 20px;
	margin-bottom: 5px;
	font-size: 20px;
}
.panel-body {
	margin-left: 30px;
}
.question >p {
	font-size: 20px;
}
.pagination {
	margin-left: 30px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #435878;
    color: white;
}

/* Hot questions extension */
.hotquestion-extend {
	background-color: #ebf1f1;
	height: auto;
	min-height: 590px;
	width: 100%;
	margin-top: 74px;
}